# Binary output
/build/
/bettertether
/bettertether-ui
*.pkg/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# MacOS files
.DS_Store

# Go specific
/vendor/
*.test
*.prof
__pycache__/

# Logs
*.log

# Scratch
tmp/

# GUI app
gui/node_modules/
gui/dist/
gui/out/
gui/dist_old/
gui/out_old/
gui/resources/bettertether

# Other projects
kudu/
